/* global styling */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

/* global variables contains the main colors and values reusebale */
 :root {
  /* colors */
  --brand1 : #12F7D6 ;
  --brand2 : #98FAEC ;
  --bg1 : #292F36 ;
  --bg2 : #1A1E23 ;
  --grey : #43454D ;
  --white : #FFFFFF ;
  --html : #E54F26 ;
  --css : #0C73B8 ;
  --js : #E7A020 ;

  /* fonts */
  --main-font : ubuntu;
 }

 body {
  background-color:  var(--bg1);
  display: flex;
  flex-direction: column;
 }

 /* start header styling */
 header {
  display: flex;
  justify-content: space-between;
  height: 65px;
  background-color: var(--bg1);
  width: 90%;
  margin-left: 5%;
  border-bottom: 1.5px solid var(--grey);
  align-items: center;
 }

 /* header left styling */
 header .header-left {
  display: flex;
  width: 33%;
  justify-content: start;
  align-items: center;
  color: var(--white);
  font-family: var(--main-font);
  font-size: 23px;
 }

 /*logo*/
 .logo {
  color: var(--brand1);
  margin-right: 10px;
  font-size: 25px;
 }

 /*header middle part */
 header .header-center {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 33%;
 }

 header .header-center a {
  color: var(--white);
  font-family: var(--main-font);
  font-size: 20px;
  margin-left: 40px;
  text-decoration: none;
 }


 /* hover effect on the header */
 header .hover:hover {
  color: var(--brand1);
 }

 /* start heading styling for the laptop screen size */
 @media (max-width: 1440px) {

  header {
    height: 60px;
  }
  header .header-left,.logo {
    font-size: 20px;
  }

  header .header-center a {
    font-size: 15px;
  }
 }

 /* media query max width 1024 px*/
 @media (max-width : 1024px){
  header {
    font-size: 13px;
  }
  .developer {
    font-size: 40px;
  }
 }

 /* end heading styling for the laptop screen size */
 /* navbar trigger */
 header .navbar-trigger {
   display: flex;
   flex-direction: column;
   width: 50px;
   height: 50px;
   justify-content: center;
   align-items: end;
  }
  /* screen size 425px*/
  @media (max-width: 424px){
    header .header-center {
      display: none;
    }
  }

  @media (min-width: 425px){
    header .navbar-trigger {
      display: none;
    }
   }
  
 header .navbar-trigger span {
  width: 30px;
  height: 2px;
  background-color: white; 
  margin-bottom: 5px;
  transition: 100ms;
}

header .navbar-trigger .rotate{
  margin-bottom: -2px;
}
header .navbar-trigger .span1 {
  transform: rotate(45deg);
}
header .navbar-trigger .span2 {
  transform: rotate(-45deg);
}

 /* end header styling */

 /* styling drop menu for mobile screens*/
 .drop-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  width :90% ;
  margin-left: 5%;
 }

 .drop-menu .menu-item {
   padding: 20px 0px 20px 0px;
   color: var(--white);
   font-family: var(--main-font);
   font-size: 17px;
   text-decoration: none;
   width: 100%;
   text-align: center;
  }
  .drop-menu > .menu-item {
    border-bottom: 1px solid var(--brand1);
  }

  /* start styling profile section*/
  .welcome-section {
    display: flex;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-family: var(--main-font);
    color: var(--brand1);
    align-self: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

/*info card styling*/

.info-card {
    display: flex;
    flex-direction: column;
    width: 270px;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    color: var(--white);
    font-size: 14px;
    border: 1px solid var(--white);
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-right: 50px;
    box-shadow: 7px 7px 15px 5px var(--brand1);
     }

  .info-card img {
    width: 90px;
    border: 1px solid var(--grey);
    border-radius: 50%;
    margin: 15px 0px 15px 0px;
  }
  .welcome-section .info-card .name {
    font-size: 20px;
    padding-bottom: 5px;
  }

  .info-card .work-title {
    padding-bottom: 15px;
  }
  .welcome-section .info-card .info-container {
    display: flex;
    width: 80%;
    justify-content: start;
  }

  .welcome-section .info-card .info-container i {
    color: var(--brand2);
    padding-right: 12px;
    padding-bottom: 10px;
  }
  
  .cv-btn {
    width: 65%;
    background-color: var(--white);
    color: var(--grey);
    text-decoration: none;
    font-family: var(--main-font);
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 18px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px 0px 5px;
    border-radius: 20px;

  }
  
  .cv-btn:hover {
    background-color: var(--brand1);
    color: var(--bg1);
  }
  .cv-btn i {
    margin-left: 5px;
  }
  .grey-text {
    color: grey;
    font-family: monospace;
  }

/* end styling welcome section*/
/* start styling the welcome section*/


/*styling hey section*/

/*style hey header*/

.hey {
  width: 50%;
  margin-right: 20px;
  margin-top: 25px;
}
.hey h1 {
  color: var(--white);
}

.hey .html-tag {
  color: var(--brand2);
  font-size: 18px;
}

.hey .name {
  color: var(--brand1);
}

.hey .hey-caption {
  color: grey;
  font-size: 20px;
  font-family: monospace;
}
.let-talk {
  display: flex;
  align-items: center;
  color: var(--brand1);
  font-family: var(--main-font);
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 50px;
}

.let-talk  a{
  text-decoration: none;
  color: var(--brand1);
  font-size: 25px;
  cursor: pointer;
  background-color: var(--bg2);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  border-radius: 50%;
}

/*style tech stack section*/

.tech-stack {
  width: 250px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  background-color: var(--bg2);
  color: var(--white);
  font-family: monospace;
  font-size: 18px;
  padding: 25px 0px 25px 0px;
  border: 1.5px solid var(--brand2);
}

.tech-stack .row {
  display: flex;
  margin: 25px 0px 25px 0px ;
  align-items: center;
}
.tech-stack span {
  color: var(--brand1);
  margin-right: 13px;
  font-size: 40px;
}

/* welcome section media queries*/
@media (max-width: 1050px ){
  .welcome-section{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .info-card {
    margin-right: 0px;
  }

  .tech-stack {
    margin-top: 50px;
  }
  
  .hey {
    margin-right: 0px;
  }

  .hey h1{
    font-size: 25px;
  }
}

@media (max-width: 1000px ){
   .hey {
    width: 80%;
   }
}
  /* end styling the welcome section*/